<div class="row-fluid clearfix well">
    <form class="create-task">
        <input type="text" class="form-control" ng-model="task.title" required="">
        <select class="form-control" ng-model="task.status">
            <option value="Todo">Todo</option>
            <option value="Doing">Doing</option>
            <option value="Done">Done</option>
        </select>
        <button class="btn btn-info" ng-click="add()">Add</button>
    </form>
    <div class="alert alert-success" ng-show="addedTask">
        <string>Well done!</string> {{ addedTask.title }} successfully added!
    </div>
    <div class="alert alert-success" ng-show="deletedTask">
        <string>Well done!</string> {{ deletedTask.title }} successfully deleted!
    </div>
</div>
<div class="row-fluid well">
    <div class="span4 task-list" id="todo-list">
        <h4>Todo</h4>
        <div ng-switch="todoTasks.length">
            <div ng-switch-default="">
                <ul>
                    <li ng-repeat="task in todoTasks" class="task">
                        <span class="btn btn-link" ng-click="openTask({{task.id}})">{{ task.title | truncate }}</span>
                        <a ng-click="delete({{task.id}})">Delete</a>
                    </li>
                </ul>
            </div>
            <div ng-switch-when="0">
                <div class="alert alert-info">
                    <strong>Heads up! There is no task here: good job ;)</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="span4 task-list" id="doing-lit">
        <h4>Doing</h4>
        <div ng-switch="doingTasks.length">
            <div ng-switch-default="">
                <ul>
                    <li ng-repeat="task in doingTasks" class="task">
                        {{ task.title | truncate:30 }}
                        <a ng-click="delete({{task.id}})">Delete</a>
                    </li>
                </ul>
            </div>
            <div ng-switch-when="0">
                <div class="alert alert-info">
                    <strong>Heads up! There is no task here: are you sure you are working?</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="span4 task-list" id="done-list">
        <h4>Done</h4>
        <div ng-switch="doneTasks.length">
            <div ng-switch-default="">
                <ul>
                    <li ng-repeat="task in doneTasks" class="task">
                        {{ task.title | truncate:30 }}
                        <a ng-click="delete({{task.id}})">Delete</a>
                    </li>
                </ul>
            </div>
            <div ng-switch-when="0">
                <div class="alert alert-info">
                    <strong>Heads up! There is no task here: did you finish every thing or you have nothing to do?</strong>
                </div>
            </div>
        </div>
    </div>
</div>