body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.task {
    list-style-type: none;
    padding: 5px;
    background-color: #FFF;
    margin: 5px;
    border-radius: 2px;
}

.task-list h4 {
    padding: 5px;
}

.task-list ul {
    padding: 0;
    margin: 0;
}

.task-list ul li {
    border-radius: 2px;
}

.create-task {
}

.create-task input {
    width: 200px;
    float: left;
    margin-right: 10px;
}

.create-task select {
    float: left;
    width: 100px;
}

.create-task button {
    margin-left: 10px;
}